.activiti-ideas-top-boxes {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.activiti-ideas-top-box {
    width: 300px;
    height: 310px;
    padding-top: 142px;
    font-family: Montserrat-Bold;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}

.activiti-ideas-top-box1 {
    padding-top: 128px;
}

.activiti-ideas-middle-boxes {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.activiti-ideas-middle-box {
    width: 300px;
    height: 310px;
    padding-top: 142px;
    font-family: Montserrat-Bold;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}

.activiti-ideas-middle-box1 {
    width: 620px;
}

.activiti-ideas-bottom-boxes {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.activiti-ideas-bottom-box {
    width: 620px;
    height: 310px;
    padding-top: 142px;
    font-family: Montserrat-Bold;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}

.activiti-ideas-bottom-box1 {
    width: 300px;
}