.container {
    width: 940px;
    margin: 0 auto;
}

.title {
    text-align: center;
    font-family: Montserrat-Bold;
    font-size: 26px;
    line-height: 32px;
    margin-top: 89px;
    color: #444444;
}

.dreamshare-works-boxes {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.dreamshare-works-box {
    width: 300px;
    height: 400px;
    padding: 219px 25px 21px 25px;
}

.step {
    width: 70px;
    height: 20px;
    background: #FF4E50;
    border-radius: 40px;
    letter-spacing: 2px;
    font-size: 10px;
    line-height: 20px;
    font-family: Montserrat-Light;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

.dreamshare-works-box-title {
    font-size: 24px;
    line-height: 25px;
    color: #FFFFFF;  
    font-family: Montserrat-Bold;
    margin-top: 15px;
}

.dreamshare-works-box-desc {
    font-size: 14px;
    line-height: 14px;
    color: #E3E3E3;
    font-family: Roboto-Light;
    margin-top: 35px;
}

.dreamshare-works-box2 {
    padding-top: 250px;
}

.dreamshare-works-box-desc2 {
    margin-top: 26px;
}