.dreamshare {
    width: 100%;
    height: 700px;
    background-image: url(../../images/Group\ 3.jpg);
    background-size: cover;
    background-position: center;
    padding: 46px 248px 221px 248px;
    margin: 0 auto;
}


.dreamshare-text-login-singup {
    display: flex;
    justify-content: space-between;
}

.dreamshare-text {
    font-family: Montserrat-Bold;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
}

.login-singup {
    display: flex;
    align-items: center;
}

.login {
    font-family: Montserrat-Light;
    font-size: 14px;
    line-height: 17px;
    margin-right: 19px;
    color: #ffffff;
}

.singup {
    width: 90px;
    height: 36px;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    color: #ffffff;
    font-family: Montserrat-Light;
    font-size: 14px;
    margin-right: 43px;
    line-height: 36px;
    text-align: center;
}

h1 {
    width: 470px;
    color:  #FFFFFF;
    font-size: 52px;
    line-height: 63px;
    font-family: Montserrat-Bold;
    text-align: center;
    margin:0 auto;
    margin-top: 147.5px;
}

.dreamshare-title {
    font-size: 24px;
    line-height: 24px;
    font-family: Roboto-Light;
    text-align: center;
    color: #F7F3F2;
    margin-top: 28.5px;

}

.dreamshare-button {
    display: block;
    width: 225px;
    height: 40px;
    background: #FF4E50;
    border-radius: 40px;
    border: none;
    margin: 0 auto;
    margin-top: 33px;
    font-family: Montserrat-Bold;
    font-size: 14px;
    line-height: 40px;
    color: #FFFFFF;
}