.title-holiday-interests {
    margin-top: 95px;
}

.holiday-interests-question {
    font-family: Roboto-Light;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-top: 43px;
    color: #666666;
}

.holiday-interests-inputs {
    width: 482px;
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
    justify-content: space-between; 
}


.holiday-interests-inputtext {
    width: 299px;
    height: 40px;
    border: 1px solid #D4D4D4;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
    border-radius: 3px;
}


.holiday-interests-inputtext::placeholder {
    font-family: Roboto-Light;
    font-size: 14px;
    line-height: 40px;
    color: #999999;
}

.holiday-interests-button {
    width: 172px;
    height: 40px;
    background: #FF4E50;
    border: none;
    border-radius: 40px;
    font-size: 14px;
    line-height: 40px;
    color: #FFFFFF;
    font-family: Montserrat-Bold;
}