@media screen and (max-width: 960px) {
    .container {
        width: 748px;
    }

    /* header */

    .dreamshare {
        padding: 46px 50px 221px 48px;
    }

    /* dreamshare-works */

    .title {
        font-size: 22px;
        line-height: 27px;
        margin-top: 94px;
    }

    .dreamshare-works-box {
        width: 236px;
        padding: 205px 25px 21px 25px;
    }

    .dreamshare-works-box-title {
        font-size: 24px;
        line-height: 14px;
        margin-top: 37px;
    }

    .dreamshare-works-box2 {
        padding-top: 245px;
    }
    
    .dreamshare-works-box-desc2 {
        margin-top: 10px;
    }

    /* meet-partner */

    
    .meet-partner-boxes {
        width: 492px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 35px;
    }

    .meet-partner-box {
        width: 236px;
        min-height: 205px;
    }

    .meet-partner-box:nth-child(1n+3) {
        margin-top: 35px;
    }   

    .meet-partner-button {
        margin-top: 40px;
    }

        /* activiti-ideas */
    
    .activiti-ideas-top-box {
        width: 236px;
        padding-top: 128px;
    }

    .activiti-ideas-top-box:nth-child(1) {
        width: 236px;
        padding-top: 142px;
    }
    
    .activiti-ideas-middle-boxes {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    
    .activiti-ideas-middle-box {
        width: 236px;
    }
    
    .activiti-ideas-middle-box1 {
        width: 492px;
    }
    
    .activiti-ideas-bottom-box {
        width: 492px;
    }
        
    
    .activiti-ideas-bottom-box1 {
        width: 236px;
    }

        /* footer */
        
    .footer-dreamshare { 
        margin-left: 30px;
        margin-right: 108px;
    }
        
    .footer-company {
        margin-right: 100px;
    }
    
    .footer-partners {
        margin-right: 118px;
    }
    
    .footer-designed span {
        padding-left: 27px;
    }
}

@media screen and (max-width: 765px) {
    .container {
        width: 320px;
    }
    /* header */
    
    .dreamshare {
        width: 100%;
        height: 540px;
        padding: 20px 20px 153px 20px;
        margin: 0 auto;
        position: relative;
    }
    
    .dreamshare-text-login-singup {
        display: flex;
        justify-content: center;
    }
    
    .dreamshare-text {
        position: absolute;
        top: 153px;
    }
    
    .login-singup {
        display: flex;
        align-items: center;
    }

    .singup{
        margin-right: 0px;
    }
    
    h1 {
        width: 272px;
        font-size: 30px;
        line-height: 37px;
        margin-top: 147.5px;
    }
    
    .dreamshare-title {
        font-size: 18px;
        line-height: 24px;
        margin-top: 5.5px;
    }
    
    .dreamshare-button {
        display: block;
        width: 280px;
        height: 40px;
        margin-top: 15px;
        font-size: 14px;
    }

    /* dreamshare-works */

    .title {
        width: 280px;
        font-size: 22px;
        line-height: 27px;
        margin: 0 auto;
        margin-top: 35px;
    }
    
    .dreamshare-works-boxes {
        display: block;
        margin-top: 15px;
    }
    
    .dreamshare-works-box {
        width: 300px;
        height: 240px;
        background-size: cover;
        background-position: center;
        margin: 0 auto;
        margin-top: 10px;
        padding: 64px 30px 16px 20px;
    }
    
    .dreamshare-works-box2 {
        padding-top: 95px;
    }

    /* meet-partner */

    
    .meet-partner-boxes {
        display: block;
        width: 320px;
        margin-top: 0px;
    }

    .meet-partner-box {
        margin: 0 auto;
        margin-top: 16px;
    }

    .meet-partner-box:nth-child(1n+3) {
        margin-top: 16px;
    }  

    .meet-partner-button {
        width: 280px;
    }
        
    /* activiti-ideas */

    .activiti-ideas-top-boxes {
        display: block;
        margin-top: 33px;
    }
    
    .activiti-ideas-top-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 120px;
        background-image: url(../../images/activiti-ideas/Healath.jpg) !important;
        margin: 0 auto;
        margin-top: 10px;
        padding: 0px;
    }

    .activiti-ideas-top-box:nth-child(1) {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../../images/activiti-ideas/Sport.jpg) !important;
        width: 300px;
        padding-top: 0px;
    }
    
    .activiti-ideas-top-box1 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../../images/activiti-ideas/Extreme.jpg) !important;
        padding-top: 0px;
    }
    
    .activiti-ideas-middle-boxes {
        display: block;
        margin-top: 10px;
    }
    
    .activiti-ideas-middle-box {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../../images/activiti-ideas/Games.jpg) !important;
        width: 300px;
        height: 120px;
        padding-top: 0px;
        margin: 0 auto;
        margin-top: 10px;
    }
    
    .activiti-ideas-middle-box1 {
        background-image: url(../../images/activiti-ideas/Culture.png) !important;
        width: 300px;
    }
    
    .activiti-ideas-bottom-boxes {
        display: block;
        margin-top: 10px;
    }
    
    .activiti-ideas-bottom-box {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../../images/activiti-ideas/Enjomet.jpg) !important;
        margin: 0 auto;
        margin-top: 10px;
        width: 300px;
        height: 120px;
        padding-top: 0px;
    }
    
    .activiti-ideas-bottom-box1 {
        background-image: url(../../images/activiti-ideas/Trevelling.jpg) !important;
        width: 300px;
    }

        /* holidat-interests */
 
    .holiday-interests-question {
        margin-top: 9px;
    }

    .holiday-interests-inputs {
        width: 280px;
        margin-top: 15px;
        display: block;
    }
    
    
    .holiday-interests-inputtext {
        width: 280px;
        height: 40px;
        border: 1px solid #D4D4D4;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
        border-radius: 3px;
    }
    
    
    .holiday-interests-inputtext::placeholder {
        font-family: Roboto-Light;
        font-size: 14px;
        line-height: 40px;
        color: #999999;
    }
    
    .holiday-interests-button {
        width: 280px;
        height: 40px;
        margin-top: 10px;
        padding: 0;
    }

    .line {
        width: 320px;
        margin: 0 auto;
        margin-top: 40px;
    }
    
    .footer-boxes {
        display: block;
        margin-top: 19px;
        margin-bottom: 22px;
    }
    
    .footer-dreamshare {
        text-align: center;
        margin: 0;
    }
    
    .footer-company {
        font-size: 14px;
        line-height: 17px;
        font-family: Montserrat-Bold;
        color: #444444;
        margin-right: 0px;
        margin-top: 13px;
        text-align: center;
    }
    
    .footer-company ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 220px;
        margin-top: 1px;
    }
    
    .footer-company ul li {
        font-family: Roboto-Light;
        font-size: 14px;
        line-height: 26px;
        color: #999999;
    }
    
    .footer-partners {
        line-height: 17px;
        margin-right: 0px;
        margin-top: 6px;
        text-align: center;
    }
    
    .footer-designed {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 12px;
        margin-top: 14px;
    }
    
    .footer-designed span {
        padding-left: 0px;
        margin-bottom: 7px;
    }
    
}
@media screen and (max-width: 320px) {
    .dreamshare {
        width: 320px;
    }