.meet-partner-boxes {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.meet-partner-box {
    width: 221px;
    min-height: 205px;
}

.avatar {
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

.name {
    text-align: center;
    font-family: Montserrat-Bold;
    font-size: 14px;
    line-height: 17px;
    color: #444444;
    margin-top: 17px;
}

.meet-partner-descr {
    font-family: Roboto-Light;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #666666;
    margin-top: 23px;
}

.meet-partner-button {
    display: block;
    width: 180px;
    height: 40px;
    border: 2px solid #FF4E50;
    background-color: #fff;
    border-radius: 40px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    font-family: Montserrat-Bold;
    color: #FF4E50;
    margin: 0 auto;
    margin-top: 36px;
}